<div class="flex-container">
  <main class="main">
    <div class="quest-typescript">
      <p class="headline">Questions Typescript</p>
        <!-- 10 neuesten fragen zu typescript stackoverflow -->
        <ol class="items">
          <li *ngFor="let item of itemsTypescript$ | async">
            {{ item.title }}
          </li>
        </ol>
    </div>
    <div class="quest-angular">
        <p class="headline">Questions Angular2</p>
        <!-- 10 neuesten fragen zu Angular2 stackoverflow -->
        <ol class="items">
          <li *ngFor="let item of itemsAngular2$ | async">
            {{ item.title }}
          </li>
        </ol>
    </div>
    <div class="quest-weather">
        <p class="headline">Questions Weather</p>
      <!-- 5 neuesten fragen zu "Weather" stackoverflow -->
      <ol>
        <li *ngFor="let item of itemsWeather$ | async">
          {{ item.title }}
        </li>
      </ol>
    </div>
    <div class="data-weather">
      <!--5 beliebige wetterdaten von hier in einer liste gleichzeitig aber immer abwechselnd -->
      <ul *ngFor="let item of weatherObject" class="weather-items">
        <div class="weather-items-column">
          <p>Zeit: {{item.Zeit}} </p>
          <p>Datum: {{item.Datum}} </p>
          <p>Wind: {{item.Wind}} </p>
        </div>
        <div class="weather-items-column">
          <p>Temp. A.: {{item['Temp. A.']}} </p> 
          <p>Temp. 3: {{item['Temp. 3']}} </p> 
          <p>Feuchte A.: {{item['Feuchte A.']}}</p>
        </div>
        <div class="weather-items-column">
          <p>Helligkeit: {{item.Helligkeit}} </p>
          <p>Richtung: {{item.Richtung}} </p>
          <p>Regen: {{item.Regen}} </p>
        </div>
      </ul>
    </div>
  </main>
</div>
