<div class="flex-container">
  <main class="main">
    <div class="quest-typescript">
      <p class="headline">Questions Typescript</p>
        <!-- 10 neuesten fragen zu typescript stackoverflow -->
        <ol class="items">
          <li *ngFor="let item of itemsTypescript$ | async; trackBy: questionIdentifier">
            {{ item.title }}
          </li>
        </ol>
    </div>
    <div class="quest-angular">
        <p class="headline">Questions Angular2</p>
        <!-- 10 neuesten fragen zu Angular2 stackoverflow -->
        <ol class="items">
          <li *ngFor="let item of itemsAngular2$ | async; trackBy: questionIdentifier">
            {{ item.title }}
          </li>
        </ol>
    </div>
    <div class="quest-weather">
        <p class="headline">Questions Weather</p>
      <!-- 5 neuesten fragen zu "Weather" stackoverflow -->
      <ol>
        <li *ngFor="let item of itemsWeather$ | async; trackBy: questionIdentifier">
          {{ item.title }}
        </li>
      </ol>
    </div>
    <div class="data-weather">
      <!--5 beliebige wetterdaten von hier in einer liste gleichzeitig aber immer abwechselnd -->
      <div *ngIf="weatherObject" class="weather-items">
        <div class="weather-items-column">
          <p>Datum: {{weatherObject.Datum}} </p>
          <p>Zeit: {{weatherObject.Zeit}} </p>
          <p>Wind: {{weatherObject.Wind}} </p>
        </div>
        <div class="weather-items-column">
          <p>Temp. A.: {{weatherObject['Temp. A.']}} </p> 
          <p>Temp. 3: {{weatherObject['Temp. 3']}} </p> 
          <p>Feuchte A.: {{weatherObject['Feuchte A.']}}</p>
        </div>
        <div class="weather-items-column">
          <p>Helligkeit: {{weatherObject.Helligkeit}} </p>
          <p>Richtung: {{weatherObject.Richtung}} </p>
          <p>Regen: {{weatherObject.Regen}} </p>
        </div>
      </div>
    </div>
  </main>
</div>
